/* Loading screen styles */
#loadingScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black; /* Black background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 2s ease; /* Fade-out transition */
}

.loader {
    border: 4px solid white; /* Solid white border */
    border-radius: 50%;
    width: 36px;
    height: 36px;
    animation: spin 1s linear infinite;
    border-top-color: transparent; /* Make top section of the circle transparent */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Fade out animation */
#loadingScreen.fadeOut {
    opacity: 0;
    pointer-events: none;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: white;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

h1 {
    margin: 20px 0;
    font-size: 1.5em;
    text-align: center;
    white-space: nowrap;
}

h2, button, footer {
    font-family: 'Arial', sans-serif;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    max-height: calc(100vh - 60px); /* Deduct footer height */
    width: 100%;
    padding: 10px;
}

button {
    margin: 10px 0;
    background-color: #333;
    color: white;
    border: 2px solid #555;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
    transform: scale(1.05);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    text-align: center;
    background-color: #1a1a1a;
    color: white;
}

/* Black Widow Animated Background */
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensures it stays behind all content */
    background: radial-gradient(circle, #ff0000 10%, transparent 10%) center/30px 30px, 
                radial-gradient(circle, transparent 10%, #ff0000 10%) center/30px 30px, 
                black;
    animation: blackWidowPulse 6s infinite alternate;
}

@keyframes blackWidowPulse {
    0% {
        background-size: 30px 30px;
    }
    50% {
        background-size: 50px 50px;
    }
    100% {
        background-size: 30px 30px;
    }
}
